[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
redis = "*"
numpy = "*"
keras = "*"
tensorflow = "*"
PyMySQL = "*"
requests = "*"
configparser = "*"
sanic = "*"
requestium = "*"
matplotlib = "*"
elasticsearch = "*"
"beautifulsoup4" = "*"
pykafka = "*"
jieba = "*"

[dev-packages]
